body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

html, body {
    height: 100%;
}

#chat {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.user { color: blue; }
.bot { color: green; }

.nav-item {
    padding-left: 0;
}

